.add-icon{
    font-size: 20px;
    padding: 5px 8px;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
}
.revert{
    overflow: revert !important;
    width: auto;
}
.view-icon{
    font-size: 20px !important;
    padding: 5px 8px;
    border-radius: 30px;
    color: #d63384;
    position: absolute;
    right: 90px;
    top: 0px !important;
    cursor: pointer;
}

.edit-icon{
    font-size: 20px !important;
    padding: 5px 8px;
    border-radius: 30px;
    color: #d63384;
    position: absolute;
    right: 60px;
    top: 0px !important;
    cursor: pointer;
}

.delete-icon{
    font-size: 20px !important;
    padding: 5px 8px;
    border-radius: 30px;
    color: #d63384;
    position: absolute;
    right: 30px;
    top: 0px !important;
    cursor: pointer;
}

.btn:focus {
    box-shadow: none !important;
}
.inline{
    display: inline-block;
}
.fl-rgt{
    float: right;
}
.txt-alg-ctr{
    text-align: center;
}